@page "/contacts"
@using BlazingChat.Shared.Models.DTOs;
@using BlazingChat.Client.ViewsModels;
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Contactos</PageTitle>

<h1>Contactos</h1>

<p>Lista de contactos</p>
<div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
           @bind="_filter"
           @bind:event="oninput">
</div>

<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre(s)</th>
                <th>Apellido(s)</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in string.IsNullOrEmpty(_filter) ?_contactsList : _contactsList.Where(c => c.FirstName.Contains(_filter) || c.LastName.Contains(_filter) || c.Phone!.Contains(_filter)))
            {
                <tr style="cursor: pointer;" @onclick="(e) => NavigateToChat(contact.ContactId)">                                       
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                </tr>
            }
        </tbody>
    </table>
 

@code {

    private string _filter = string.Empty;
    private bool _selectChat = false;
    private string _activeClass = string.Empty;

    private List<ContactView> _contactsList = new();


    protected override async Task OnInitializedAsync()
    {
        await foreach (var item in GetContacts())
        {
            _contactsList.Add(item);          
        }     
    }
    private async IAsyncEnumerable<ContactView> GetContacts()
    {
        var resultReq = await Http.GetFromJsonAsync<List<ContactDto>>("api/user/contacts/1");

        foreach (var contact in resultReq!)
        {
            yield return await ProduceContact(contact);
            this.StateHasChanged();
            
        }        
            
    }

    private async Task<ContactView> ProduceContact(ContactDto contact)
    {
        await Task.Delay(27);
        return new ContactView 
        {
            ContactId = contact.ContactId,
            FirstName = $"{contact.FirstName} {contact.SecondName}",
            LastName = $"{contact.LastName} {contact.LastSecondName}",
            Email = contact.Email!,
            Phone = $"{contact.AreaCode} {contact.Phone}"
        };
    }

    private void NavigateToChat(long id)
    {
        NavigationManager.NavigateTo($"/chat/{id}");
    }
}
