@page "/settings"
@attribute [Authorize]
@using BlazingChat.Shared
@inject ISettingsVM _settings


<h2><b>Settings</b></h2> 
<hr />

<div class="col-12">
    <input type="checkbox" @bind="@_settings.Notifications" id="chkNotification">
    <label> Notification </label>    
    <br>   

    <input type="checkbox" @bind="@_settings.DarkTheme" id="chkDarkTheme">
    <label> Dark Theme </label>    
    <br>
</div>
<div class="col-12">
    <button class="btn btn-primary" @onclick="_settings.Save">Save</button>
</div>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync() => await _settings.GetSettings();
}
