@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

<CascadingAuthenticationState>
    <MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
        <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
        <MudNavGroup Title="Settings" Expanded="true">
            <MudNavLink Href="/users"  Match="NavLinkMatch.Prefix">Users</MudNavLink>
            <MudNavLink Href="/security"  Match="NavLinkMatch.Prefix">Security</MudNavLink>
        </MudNavGroup>
    <MudNavLink Href="/about"  Match="NavLinkMatch.Prefix">About</MudNavLink>
    @if(@HostEnvironment.Environment.Equals("Development"))
        {
            <environment include="Development">
                <div class="position-absolute bottom-0 text-center start-0 text-secondary">
                    <p><small>Environment is Development</small></p>
                </div>
            </environment>
        } 
    </MudNavMenu>    
</CascadingAuthenticationState>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
